<div class="top-text">
    <h3>Home/</h3>
    <h3 style="font-weight: 100;">&nbsp;My Wishlist</h3>
</div>
<div class="wishlist-container">
    <h2>My Wishlist (1)</h2>
    <div class="wishlist-items">
        <div class="book-items">
            <img src="../../../assets/BookImage/Image 11.png" alt="" style="width:100px; height: 150px;">
            <div>
                <h3>Don't Make Me Think</h3>
                <p style="color:grey">by Steve Krug</p>
                <div class="price-details">
                    <h3>Rs. 1500</h3>
                    <p style="text-decoration: line-through; color: grey;"> Rs. 2000</p>
                </div>
            </div>
        </div>
        <span class="material-symbols-outlined">
            delete
        </span>
    </div>
    <div class="wishlist-items">
        <div class="book-items">
            <img src="../../../assets/BookImage/Image 11.png" alt="" style="width:100px; height: 150px;">
            <div>
                <h3>Don't Make Me Think</h3>
                <p style="color:grey">by Steve Krug</p>
                <div class="price-details">
                    <h3>Rs. 1500</h3>
                    <p style="text-decoration: line-through; color: grey;"> Rs. 2000</p>
                </div>
            </div>
        </div>
        <span class="material-symbols-outlined">
            delete
        </span>
    </div>
</div>